:root {
  --primary-bg-color: #FFFFFF;
  --primary-accent-color: #A8DADC;
  --secondary-accent-color: #457B9D;
  --primary-text-color: #333333;
  --secondary-text-color: #666666;
  --primary-button-bg: #457B9D;
  --primary-button-text: #FFFFFF;
  --secondary-button-bg: #A8DADC;
  --secondary-button-text: #333333;
  --link-color: #1D3557;
  --border-color: #E0E0E0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: var(--primary-text-color);
}

p, a, button {
  font-weight: 400;
  color: var(--primary-text-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header, footer {
  background-color: var(--primary-accent-color);
}

button.primary {
  background-color: var(--primary-button-bg);
  color: var(--primary-button-text);
  font-weight: 500;
}

button.primary:hover {
  background-color: (--secondary-button-bg)
}

button.secondary {
  background-color: var(--secondary-button-bg);
  color: var(--secondary-button-text);
  font-weight: 500;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.border {
  border-color: var(--border-color);
}

.content {
  min-height: 90dvh;
}
