.homePage {
  padding: 80px 20px; /* Increased padding for more space around content */
  text-align: center;
}

.content {
  margin-top: 40px; /* Increased space between sections */
  padding: 40px 320px; /* Extra padding to make the content area spacious */
  border-radius: 10px; /* Rounded corners for content */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Soft shadow to lift content */
}

.content p {
  margin-bottom: 130px;
}
